<br>
<div class="col-md-6 col-md-offset-3 col-xs-12 container">
	<h3 class="center">Buscar por cidade</h3>
    <div class="well well-large">
        <div class="form-group center">
            <%= form_tag(busca_endereco_nome_path, :method => :get) do %>
				<div class="col-sm-7">
                	<%= text_field_tag 'search', nil, class: 'form-control', placeholder: 'Digite o nome da cidade que deseja encontrar' %>
				</div>
				<%= submit_tag 'Buscar', class:' btn btn-verde' %>
            <% end %>
        </div>
    </div>

	<% @services.each do |service| %> <!-- Serviços -->
		<br>
		<div class="well well-large"> <!-- Card -->
			<h4 class="center"><strong><%= service.service.upcase %></strong></h4>
			<strong>Profissional:</strong> <%= service.professional_user.name + " | " + service.professional_user.profession %>
            <%= fa_icon "angle-double-right" %>
			<strong><%= link_to 'Visitar Perfil', perfil_profissional_path(service.professional_user.id), class: "verde" %></strong><br><br>

		</div> <!--Card -->

	<% end %> <!-- Serviços -->

	<div class="center">
		<%= link_to 'Voltar', login_cliente_path, class: "btn btn-cinza" %>
	</div>

</div> <!--Container -->