<div class="col-md-6 col-md-offset-3 col-xs-12 container"> <!-- Container -->
  <h1>Meus Serviços</h1>

  <% if @services.empty? %>
    <div class="well well-large">
      <tr>
        <td colspan="4" class="text-center">
          <h3>Sem serviços cadastrados.</h3>
          <%= link_to 'Clique aqui', new_service_path %> para cadastrar um novo serviço
        </td>
      </tr>
    </div>
  <% end %>


  <% @services.each do |service| %> <!-- Serviços -->
    <br>

    <div class="well well-large"> <!-- Card -->
      <h4 class="center"><strong><%= service.service.upcase %></strong></h4>
      <strong>Descrição:</strong> <%= service.description %><br>
      <strong>Valor:</strong> R$ <%= service.value %>,00<br>
      <strong>Duração:</strong> <%= service.duration %>:00h<br>

      <br>
      <% service.schedules.each do |schedule| %>
        <strong>Dia:</strong> <%= schedule.day.capitalize %>
        | <%= schedule.hour_start %>:00h ás <%= schedule.hour_end %>:00h
        <br>
      <% end %>

      <br>
      <div class="center"> <!--Center -->
        <%= link_to 'Editar', edit_service_path(service), class: 'btn btn-cinza'%>
        <%= link_to 'Apagar', service, method: :delete, data: { confirm: 'Confirma?' }, class: 'btn btn-cinza'%>
      </div> <!--Center -->
    </div> <!--Card -->

  <% end %> <!-- Serviços -->

  <div class="center"> <!-- Adicionar Serviço -->
    <%= link_to 'Adicionar serviço', new_service_path, class: 'btn btn-verde' %>
    <br><br>
    <%= link_to 'Voltar', login_profissional_path, class: "btn btn-cinza" %>
  </div> <!-- Adicionar Serviço -->

</div> <!--Container -->