<div class="col-md-6 col-md-offset-3 col-xs-12 container"> <!-- Container -->
  <h1>Meus Serviços</h1>

  <% if @services.empty? %>
    <div class="well well-large">
      <tr>
        <td colspan="4" class="text-center">
          <h3>Sem serviços cadastrados.</h3>
          <%= link_to 'Clique aqui', new_service_path %> para cadastrar um novo serviço
        </td>
      </tr>
    </div>
  <% end %>


  <% @services.each do |service| %> <!-- Serviços -->
    <br>
    <div class="well well-large"> <!-- Card -->
      <h4 class="center"><strong><%= service.service.upcase %></strong></h4>
      <strong>Descrição:</strong> <%= service.description %><br><br>
      <strong>Valor:</strong> R$ <%= service.value %>,00 |
      <strong>Duração:</strong> <%= service.duration %>h<br>
      <br><strong>Endereço:</strong><br>
      <%= service.address.name + ", " + service.address.number + " | " %>
      <strong>Complemento: </strong>
      <%= service.address.description.capitalize  %><br>
      <strong>CEP: </strong>
      <%=  service.address.postal_code + " - " + service.address.district + ", " + service.address.city + ", " + service.address.state.upcase %><br>
      <% if !service.address.schedules.empty? %> <!-- Se não for vazio -->
        <br>
        <strong>Horários de atendimento:</strong><br>
        <% service.address.schedules.each do |schedule| %> <!-- Cada um dos horários -->
          <% if schedule.day != "sábado" and schedule.day != "domingo" %> <!-- Para colocar feira no dia -->
            <%= schedule.day.capitalize + "-feira" %>
          <% else %>
            <%= schedule.day.capitalize %>
          <% end %> <!-- Para colocar feira no dia -->
          <% if schedule.morning == "true" %> <!-- Se for de manhã -->
            | Manhã
          <% end %> <!-- Se for de manhã -->
          <% if schedule.evening == "true" %> <!-- Se for de tarde -->
            | Tarde
          <% end %> <!-- Se for de tarde -->
          <% if schedule.night == "true" %> <!-- Se for de noite -->
            | Noite
          <% end %> <!-- Se for de noite -->
          <br>
        <% end %> <!-- Cada um dos horários -->
      <% end %> <!-- Se não for vazio -->

      <div class="center"> <!--Center -->
        <br>
        <%= link_to 'Editar', edit_service_path(service), class: 'btn btn-cinza'%>
        <%= link_to 'Apagar', service, method: :delete, data: { confirm: 'Confirma?' }, class: 'btn btn-cinza'%>
      </div> <!--Center -->
    </div> <!--Card -->

  <% end %> <!-- Serviços -->

  <div class="center"> <!-- Adicionar Serviço -->
    <%= link_to 'Adicionar serviço', new_service_path, class: 'btn btn-verde' %>
    <br><br>
    <%= link_to 'Voltar', login_profissional_path, class: "btn btn-cinza" %>
  </div> <!-- Adicionar Serviço -->

</div> <!--Container -->