<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @service.service %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @service.value %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @service.duration %>
</p>

<p>
  <strong>Email:</strong>
  <%= @service.email %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
