<%= form_with(model: normal_user, local: true) do |form| %>
  <% if normal_user.errors.any? %>
    <div clas="">
    <div class="alert alert-danger">    
      <ul>
      <h3>Ops! Encontramos <%= pluralize(normal_user.errors.count, 'erro', 'erros') %> </h3>

      
      <% normal_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password_digest %>
    <%= form.password_field :password_digest, class: 'form-control' %>
  </div>

  <br>

  <div class="actions">
    <div class="center">
      <%= form.submit 'Cadastrar' , class: 'btn btn-verde' %>
    </div>

    <div class="center">
      <%= link_to 'Voltar', root_path, class: 'btn btn-cinza' %>
    </div>
    
  </div>
<% end %>
