<div class="bg-cliente">
  <button id="openbtn" class="openbtn" onclick="openNav()">&#9776;</button>

  <h5 class="nome-user">
    <%= @normal_user.name %>
  </h5>

  <!-- SIDEBAR -->
  <nav id="mySidebar" class="sidebar">
    <div class="sidebar-header">
      <a href="javascript:void(0)" class="closebtn sidebar-header" onclick="closeNav()">&times;</a>
      <%= @normal_user.name %>
      <hr>
    </div>
    <div class="sidebar-links">
      <%= link_to "Conta", temp_path %>
      <%= link_to "Suporte", "#suporte", 'data-target' => "#modal-mensagem", 'data-toggle' => "modal"%>
      <%= link_to 'Sair', saircliente_path, method: :delete %>
    </div>
  </nav>

    <div class="div-profile center">
      <% if @normal_user.avatar.attached? %>
        <%= image_tag @normal_user.avatar,
          :alt => "profile picture",
          class: "img-profile" %>
      <% else %>
          <%= image_tag 'no_avatar.jpg',
          :alt => "No profile picture",
          class: "img-profile" %>
      <% end %>
    </div>
</div>

<div id="conteudo" class="main">
  <div class="container">
    <div class="row right">
      <%= link_to fa_icon('envelope'), temp_path %>
      <%= link_to fa_icon('star'), temp_path %>
      <span class="avaliacao">4.5</span>
    </div>

    <br><br><br><br>

    <div class="caixa-busca container">
      <input class="form-control center col-11" type="search" placeholder="Buscar">
    </div> <!-- Caixa de busca -->

    <div class="row container">
      <%= link_to temp_path, class: "col-sm-6" do %>
        <div class="card-atendimento">
          <h5>ATENDIMENTOS MARCADOS</h5>
        </div>
      <% end %>

      <%= link_to temp_path, class: "col-sm-6" do %>
        <div class="card-atendimento">
          <h5>HISTÓRICO DE ATENDIMENTOS</h5>
        </div>
      <% end %>
    <!-- Final do modal -->
    </div><!-- Row -->
  </div> <!-- Container -->
</div>
