<p id="notice"><%= notice %></p>

<h1>Professional Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Profession</th>
      <th>Document</th>
      <th>Description</th>
      <th>Facebook</th>
      <th>Instagram</th>
      <th>Password digest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professional_users.each do |professional_user| %>
      <tr>
        <td><%= professional_user.name %></td>
        <td><%= professional_user.email %></td>
        <td><%= professional_user.phone %></td>
        <td><%= professional_user.profession %></td>
        <td><%= professional_user.document %></td>
        <td><%= professional_user.description %></td>
        <td><%= professional_user.facebook %></td>
        <td><%= professional_user.instagram %></td>
        <td><%= professional_user.password_digest %></td>
        <td><%= link_to 'Show', professional_user %></td>
        <td><%= link_to 'Edit', edit_professional_user_path(professional_user) %></td>
        <td><%= link_to 'Destroy', professional_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professional User', new_professional_user_path %>
