  <%= form.fields_for :schedules do |schedule_f| %>
    <hr>

    <div class="form-group">
      <%= schedule_f.label :day, "Selecione um dia", class: "selecionar" %>
      <br>
      <%= schedule_f.radio_button :day, "domingo" %>
      <%= schedule_f.label :day, "Domingo" %>
      <%= schedule_f.radio_button :day, "segunda" %>
      <%= schedule_f.label :day, "Segunda" %>
      <%= schedule_f.radio_button :day, "terça" %>
      <%= schedule_f.label :day, "Terça" %>
      <%= schedule_f.radio_button :day, "quarta" %>
      <%= schedule_f.label :day, "Quarta" %>
      <%= schedule_f.radio_button :day, "quinta" %>
      <%= schedule_f.label :day, "Quinta" %>
      <%= schedule_f.radio_button :day, "sexta" %>
      <%= schedule_f.label :day, "Sexta" %>
      <%= schedule_f.radio_button :day, "sabado" %>
      <%= schedule_f.label :day, "Sábado" %>
    </div>

    <div class="form-group">
      <%= schedule_f.label :hour, "Selecione os horários", class: "selecionar" %>
      <br>
      <%= schedule_f.radio_button :hour, "6" %>
      <%= schedule_f.label :hour, "06h" %>
      <%= schedule_f.radio_button :hour, "7" %>
      <%= schedule_f.label :hour, "07h" %>
      <%= schedule_f.radio_button :hour, "8" %>
      <%= schedule_f.label :hour, "08h" %>
      <%= schedule_f.radio_button :hour, "9" %>
      <%= schedule_f.label :hour, "09h" %>
      <%= schedule_f.radio_button :hour, "10" %>
      <%= schedule_f.label :hour, "10h" %>
      <%= schedule_f.radio_button :hour, "11" %>
      <%= schedule_f.label :hour, "11h" %>
      <%= schedule_f.radio_button :hour, "12" %>
      <%= schedule_f.label :hour, "12h" %>
      <%= schedule_f.radio_button :hour, "13" %>
      <%= schedule_f.label :hour, "13h" %>
      <%= schedule_f.radio_button :hour, "14" %>
      <%= schedule_f.label :hour, "14h" %>
      <br>
      <%= schedule_f.radio_button :hour, "15" %>
      <%= schedule_f.label :hour, "15h" %>
      <%= schedule_f.radio_button :hour, "16" %>
      <%= schedule_f.label :hour, "16h" %>
      <%= schedule_f.radio_button :hour, "17" %>
      <%= schedule_f.label :hour, "17h" %>
      <%= schedule_f.radio_button :hour, "18" %>
      <%= schedule_f.label :hour, "18h" %>
      <%= schedule_f.radio_button :hour, "19" %>
      <%= schedule_f.label :hour, "19h" %>
      <%= schedule_f.radio_button :hour, "20" %>
      <%= schedule_f.label :hour, "20h" %>
      <%= schedule_f.radio_button :hour, "21" %>
      <%= schedule_f.label :hour, "21h" %>
      <%= schedule_f.radio_button :hour, "22" %>
      <%= schedule_f.label :hour, "22h" %>
    </div>

    <div class="form-group">
      <%= schedule_f.label :_destroy, "Excluir?", class: "excluir" %>
      <%= schedule_f.radio_button :_destroy, "true" %>
      <%= schedule_f.label :_destroy, "Sim" %>
    </div>

<% end %>