<div class="form-group col-lg-6">
    <%= form.select :day, [
        ["Segunda-feira", "segunda"],
        ["Terça-feira", "terça"],
        ["Quarta-feira", "quarta"],
        ["Quinta-feira", "quinta"],
        ["Sexta-feira", "sexta"],
        ["Sábado", "sábado"],
		["Domingo", "domingo"]
		], {}, { class: "form-control" } %>
</div>

<div class="form-group col-lg-6">
    <%= form.check_box :morning, {id: "manha"}, 'true' %>
    <%= form.label :morning, "Manhã" %>
    <%= form.check_box :evening, {id: "tarde"}, 'true' %>
    <%= form.label :evening, "Tarde" %>
    <%= form.check_box :night, {id: "noite"}, 'true' %>
    <%= form.label :night, "Noite" %><br>

    <%= form.hidden_field :address_id, :value => params[:address_id] %>
</div>