<%= form_for Contact.new do |f| %>
<div class="form-group">
  <label> Nome </label>
  <%= f.text_field :name, class: 'form-control', id: "contact_name" %>
</div>

<div class="form-group">
  <label> Email </label>
  <%= f.text_field :email, class: 'form-control', id:"contact_email" %>
</div>

<div class="form-group">
  <label id="#mensagem"> Mensagem </label>
  <%= f.text_field :message, class: 'form-control', id:"contact_message" %>
</div>

<div class="actions">
  <div class="center">
    <%= f.submit 'Enviar' , class: 'btn btn-cinza', name: 'Enviar' %>
  </div>
</div>
<%end%>
