<br>
<div class="col-md-6 col-md-offset-3 col-xs-12 container">
	<h3 class="center">Buscar um profissional pelo seu nome</h3>
    <div class="well well-large">
        <div class="form-group center">
            <%= form_tag(professional_users_path, :method => :get) do %>
                <div class="col-sm-7">
                    <%= text_field_tag 'search', nil, class: 'form-control form-style', placeholder:'Digite o nome do profissional que deseja encontrar' %>
                </div>
                <%= submit_tag 'Buscar', class:' btn btn-verde'%>
            <% end %>
            <br>
        </div>
    </div>

    <% if !@professional_users.nil? %>
        <% if !@professional_users.empty? %>
            <table class="table">
                <thead>
                    <tr>
                        <th class="center">Nome</th>
                        <th class="center">Profissão</th>
                        <th class="center">Perfil</th>
                        <th class="center">Serviços</th>
                    </tr>
                </thead>

                <tbody class="center">
                    <% @professional_users.each do |professional_user| %>
                        <tr>
                            <td><%= professional_user.name %></td>
                            <td><%= professional_user.profession.titlecase %></td>
                            <td><%= link_to 'Visitar', perfil_profissional_path(professional_user.id) %></td>
                            <td><%= link_to "Visualizar", servicos_profissional_path(id: professional_user.id) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    <% end %>

    <div class="center">
        <br>
        <%= link_to 'Voltar', login_cliente_path, class: "btn btn-cinza" %>
    </div>
</div>
