<br>
<div class="col-md-6 col-md-offset-3 col-xs-12 container">
	<h3 class="center">Busque um profissional por sua especialidade</h3>
    <div class="well well-large">
        <div class="form-group center">
            <%= form_tag(busca_profissional_profissao_path, :method => :get) do %>
                <div class="col-sm-7">
					  <%= select_tag 'search', options_for_select([["Nutricionista", "nutricionista"],
					  ["Nutrólogo", "nutrólogo"],
					  ["Professor de Esportes", "professor de esportes"],
					  ["Prof. de Educação Física", "profissional de educação física"]]), class: "form-control" %>
			    </div>
                <%= submit_tag 'Buscar', class:' btn btn-verde'%>
            <% end %>
            <br>
        </div>
    </div>

    <% if @professional_users.empty? %>

    <% else %>
        <table class="table">
            <thead>
                <tr>
                    <th class="center">Nome</th>
                    <th class="center">Perfil</th>
                    <th class="center">Serviços</th>
                </tr>
            </thead>

            <tbody class="center">
                <% @professional_users.each do |professional_user| %>
                    <tr>
                        <td><%= professional_user.name %></td>
                        <td><%= link_to 'Visitar', perfil_profissional_path(professional_user.id), id: 'Visitar'%></td>
                        <td><%= link_to "Visualizar", servicos_profissional_path(id: professional_user.id), id: 'Visualizar' %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>

    <div class="center">
        <br>
        <%= link_to 'Voltar', login_cliente_path, class: "btn btn-cinza" %>
    </div>
</div>
