<div class="bg-profissional">
  <button id="openbtn" class="openbtn" onclick="openNav()">&#9776;</button>

  <h5 class="nome-user">
    <%= @professional_user.name %>
  </h5>

  <!-- SIDEBAR -->
  <nav id="mySidebar" class="sidebar">
    <div class="sidebar-header">
      <a href="javascript:void(0)" class="closebtn sidebar-header" onclick="closeNav()">&times;</a>
      <%= @professional_user.name %>
      <hr>
    </div>
    <div class="sidebar-links">
      <%= link_to "Conta", edit_professional_user_path %>
      <%= link_to "Endereços", meus_enderecos_path, id: 'Endereços' %>
      <%= link_to "Suporte", "#signup", 'data-target' => "#modal-mensagem", 'data-toggle' => "modal", name: 'Suporte'%>
      <%= link_to 'Sair', sairprofissional_path, method: :delete %>
    </div>
  </nav>
</div>

    <div class="div-profile center">
      <% if @professional_user.avatar.attached? %>
        <%= image_tag @professional_user.avatar,
          :alt => "profile picture",
          class: "img-profile" %>
      <% else %>
          <%= image_tag 'no_avatar.jpg',
          :alt => "No profile picture",
          class: "img-profile" %>
      <% end %>
    </div>
</div>

<div id="conteudo" class="main">
  <div class="container">
    <div class="left">
      <% if @professional_user.facebook != "" %>
        <%= link_to fa_icon('facebook'), @professional_user.facebook, id: "facebook", class:'verde', target: :_blank %>
      <% else %>
        <%= link_to fa_icon('facebook'), @professional_user.facebook, id: "facebook", :title => "Você não possui um facebook cadastrado" %>
      <% end %>

      <% if @professional_user.instagram != "" %>
        <%= link_to fa_icon('instagram'), "https://www.instagram.com/" + @professional_user.instagram, id: "instagram", class: 'verde', target: :_blank %>
      <% else %>
        <%= link_to fa_icon('instagram'), @professional_user.instagram, id: "instagram", :title => "Você não possui um instagram cadastrado" %>
      <% end %>
    </div>

    <div class="right">
      <%#= link_to fa_icon('bell'), temp_path, id: "notificacao" %>
      <%= link_to fa_icon('envelope'), temp_path, id: "chat" %>
      <%= link_to fa_icon('star'), temp_path, id: "avaliacao" %>
    </div>
    <br><br><br><br><br>
    <div class="description">
      <%=@professional_user.description %>
    </div>
    <hr>
    <div class="row container">
      <%= link_to meus_servicos_path, class: "col-md-4" do %>
        <div class="card-atendimento">
          <h5>SERVIÇOS</h5>
        </div>
      <%end%>

      <%= link_to temp_path, class: "col-md-4" do %>
        <div class="card-atendimento">
          <h5>ATENDIMENTOS MARCADOS</h5>
        </div>
      <%end%>

      <%= link_to temp_path, class: "col-md-4" do %>
        <div class="card-atendimento">
          <h5>HISTÓRICO DE ATENDIMENTOS</h5>
        </div>
      <%end%>
    </div><!-- Row -->
    <br>
  </div> <!-- Container -->
</div>
