<% if address.errors.any? %>
  <div id="error_explanation">
    <h2>Ops! Encontramos <%= pluralize(address.errors.count, "erros") %></h2>
    <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control', id: 'name_address' %>
</div>

<div class="form-group">
  <%= form.label :number %>
  <%= form.text_field :number, class: 'form-control', id: 'number_address' %>
</div>

<div class="form-group">
  <%= form.label :description %>
  <%= form.text_field :description, class: 'form-control', id: 'description_address' %>
</div>

<div class="form-group">
  <%= form.label :postal_code %>
  <%= form.text_field :postal_code, class: 'form-control', id: 'postal_code_address' %>
</div>

<div class="form-group">
  <%= form.label :district %>
  <%= form.text_field :district, class: 'form-control', id: 'district_address' %>
</div>

<div class="form-group">
  <%= form.label :city %>
  <%= form.text_field :city, class: 'form-control', id:'city_address' %>
</div>

<div class="form-group">
  <%= form.label :state %>
  <%= form.text_field :state, class: 'form-control', id: 'state_address' %>
</div>