<% if address.errors.any? %>
  <div id="error_explanation">
    <h2>Ops! Encontramos <%= pluralize(address.errors.count, "erros") %></h2>
    <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control', id: 'name_address' %>
</div>

<div class="form-group">
  <%= form.label :number %>
  <%= form.text_field :number, class: 'form-control', id: 'number_address' %>
</div>

<div class="form-group">
  <%= form.label :description %>
  <%= form.text_field :description, class: 'form-control', id: 'description_address' %>
</div>

<div class="form-group">
  <%= form.label :postal_code %>
  <%= form.text_field :postal_code, class: 'form-control', id: 'postal_code_address' %>
</div>

<div class="form-group">
  <%= form.label :district %>
  <%= form.text_field :district, class: 'form-control', id: 'district_address' %>
</div>

<div class="form-group">
  <%= form.label :city %>
  <%= form.text_field :city, class: 'form-control', id:'city_address' %>
</div>

<div class="form-group">
  <%= form.label :state %>
  <%= form.select :state, [
    ["Acre (AC)", "ac"],
    ["Alagoas (AL)", "al"],
    ["Amapá (AP)", "ap"],
    ["Amazonas (AM)", "am"],
    ["Bahia (BA)", "ba"],
    ["Ceará (CE)", "ce"],
    ["Distrito Federal (DF)", "df"],
    ["Espírito Santo (ES)", "es"],
    ["Goiás (GO)", "go"],
    ["Maranhão (MA)", "ma"],
    ["Mato Grosso (MT)", "mt"],
    ["Mato Grosso do Sul", "ms"],
    ["Minas Gerais (MG)", "mg"],
    ["Pará (PA)", "pa"],
    ["Paraíba (PB)", "pb"],
    ["Paraná (PR)", "pr"],
    ["Pernambuco (PE)", "pe"],
    ["Piauí (PI)", "pi"],
    ["Rio de Janeiro (RJ)", "rj"],
    ["Rio Grande do Norte (RN)", "rn"],
    ["Rio Grande do Sul (RS)", "rs"],
    ["Rondônia (RO)", "ro"],
    ["Roraima (RR)", "rr"],
    ["Santa Catarina (SC)", "sc"],
    ["São Paulo (SP)", "sp"],
    ["Sergipe (SE)", "se"],
    ["Tocantins (TO)", "to"]
    ], {}, {class: 'form-control'} %>
</div>