<p id="notice"><%= notice %></p>

<div class="col-md-6 col-md-offset-3 col-xs-12 container">
<h3>Endereços</h3>
<% @addresses.each do |address| %>
    <div class="well well-large">
      Rua: <%= address.name %>
      Número: <%= address.number %><br>
      Complemento: <%= address.description %><br>
      CEP: <%= address.postal_code %><br>
      Bairro: <%= address.district %><br>
      Cidade: <%= address.city %><br>
      Estado: <%= address.state%><br>
      <div class='right'>
      <%= link_to fa_icon('edit'), edit_address_path(address), id:'alterar' %>
      <%= link_to fa_icon('trash'), address, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    </div>
<% end %>
<div class='center'>
<%= link_to fa_icon('plus-circle'), new_address_path, class: "center", id: 'novo_endereço'%>
<br>
<%= link_to 'Voltar', login_profissional_path %>
</div>
</div>
