<p id="notice"><%= notice %></p>

<div class="col-md-6 col-md-offset-3 col-xs-12 container">
  <h1>Meus Endereços</h1>
  <br>
  <% if @addresses.empty? %>
    <div class="well well-large">
      <tr>
        <td colspan="4" class="text-center">
          <h3>Sem endereços cadastrados.</h3>
          <%= link_to 'Clique aqui', new_address_path %> para cadastrar um novo endereço.
        </td>
      </tr>
    </div>
  <% end %>

  <% @addresses.each do |address| %>
    <div class="well well-large">
      <h4 class="center"><strong><%= address.name.upcase + ", " + address.number %></strong></h4>
      <strong>Complemento:</strong> <%= address.description %><br>
      <strong>CEP:</strong> <%= address.postal_code %><br>
      <strong>Bairro:</strong> <%= address.district %><br>
      <strong>Cidade:</strong> <%= address.city + ", " + address.state.upcase %><br>
      <br>

      <% if address.schedules.empty? %>
        <strong>Sem horários cadastrados.</strong><br>
      <% else %>
        <strong>Horários de atendimento: </strong><br>
        <% address.schedules.each do |schedule| %>
          <% if schedule.day != "sábado" and schedule.day != "domingo" %> <!-- Para colocar feira no dia -->
            <%= schedule.day.capitalize + "-feira" %>
          <% else %>
            <%= schedule.day.capitalize %>
          <% end %> <!-- Para colocar feira no dia -->
          <% if schedule.morning == "true" %>
            | Manhã
          <% end %>
          <% if schedule.evening == "true" %>
            | Tarde
          <% end %>
          <% if schedule.night == "true" %>
            | Noite
          <% end %>
          <strong>
            <%= fa_icon "angle-double-right" %>
            <%= link_to "Editar", edit_schedule_path(schedule, address_id: address.id), class: "verde", id: "alterar-horario" %>
            |
            <%= link_to "Apagar", schedule, method: :delete, data: { confirm: 'Confirma?' }, class: "verde" %>
          </strong>
          <br>
        <% end %>
      <% end %>
      <br>
      <%# @address_id = address.id %>
      <%#= link_to "Adicionar Horário", new_schedule_path(@address_id), class: "btn btn-verde", 'data-target' => "#modal-horario", 'data-toggle' => "modal", name: 'Horario' %>
      <%= link_to 'Adicionar Horário', new_schedule_path(address_id: address.id), class: 'btn btn-verde', id: 'adicionar-horario' %>
      <br><br>

      <div class="center"> <!--Center -->
        <%= link_to 'Editar', edit_address_path(address), class: 'btn btn-cinza', id: 'alterar' %>
        <%= link_to 'Apagar', address, method: :delete, data: { confirm: 'Confirma?' }, class: 'btn btn-cinza' %>
      </div> <!--Center -->
    </div>
  <% end %>

  <div class="center">
    <%= link_to 'Adicionar endereço', new_address_path, class: 'btn btn-verde', id: 'novo_endereço' %>
    <br><br>
    <%= link_to 'Voltar', login_profissional_path, class: "btn btn-cinza", id: 'voltar' %>
  </div>
</div>
